# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.pdb
*.res
*.suo
build/
# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
*.db

# Executables
*.exe
*.out
*.app
ipch
Debug
Release
x64
ARM